*{
    margin: 0;
    padding: 0;
  
}



header{
    background-color: rgba(20, 231, 20, 0.89)!important;
    color: black;
       
    display: flex;
    padding: 25px;
    justify-content: space-between;
    text-decoration: none;
    
    
}
body{
    background-color: black;
   
}
.card{
    background:black;
    width:50%;
    margin: auto;background-color: transparent;
    color: rgba(20, 231, 20, 0.89);
    border-color: black;
}
.mee{
    text-align: left;
    font-size: 70px;
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border-color: black;
   text-align: center;
   font-weight: bolder;
   font: 500px;
   

}


.nav-link{
    text-decoration: none;
    color: rgba(20, 231, 20, 0.89);
   
}

p{
    padding-right: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font: bolder 10px;
    color:rgba(20, 231, 20, 0.89);
}
.go{
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-size: small;
    background-color: gray;
}
.ynash{
    text-decoration: none;
    color: black;
    padding: 100px;
 font-weight: bolder;
}
span{
    color: black;
}
/* a:hover{
    background-color: black;
    color: red;
    
} */
.menu a{
    text-decoration: none;
    color:black;
    padding: 10px;
    
}
 .ynash:hover{
    background-color: black;
    color:rgba(20, 231, 20, 0.89);
    transition:1S ease-in-out;
    border-radius: 15px;
    
    
}
.container{
    background-color: black;
    display: flex;
    
}
.sec-items{
    background-color: rgba(128, 128, 128, 0.39);
    width: 400px;
    height: 700px;
    border-radius: 9px;
}
.section{
    display: flex;
    justify-content: space-around;
}
.parent-container{
    display: flex;
    background-color: black;
    color: rgba(20, 231, 20, 0.89);
    height: 100px;
    border-radius: 10px;
}
.child{
    background-color: black;
    width: 500%;
  
}
.opp{
    text-decoration: none;
    color: white;
}
.image{
    display: flex;
    
}
.image :hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.image img{
    width: 90%;
    height: 190px;
    border-radius: 25px;
    justify-content: space-around;
    padding: 12px;
}
h4{
    color: white;
    font-size: 40px;
text-align: center;
padding-bottom: 20px;
padding-top: 20px;
}
#fake{
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
}
.bread{
    display: flex;
}
.bread img{
    width: 99%;
    height: 190px;
    border-radius: 25px;
    justify-content: space-around;
    padding: 12px; 
}
.bread :hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
#BOOM{
    text-decoration:none;
    color: white;
    font: 10px;
    text-align: center;
    padding-left: 90px;
   
}
.btn :focus{
    outline: none;
}
.srch :focus{
    outline: none;
}
.btn{
width: 100px;
height: 50px;
background: black;
border: 2px solid black;
color: rgba(20, 231, 20, 0.89);
font-size: 15px;
border-radius: 15px;

}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 50px;
    background-color:transparent;
    border: 2px solid black;
    margin-top: 13px;
    color: black;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;

}
.today{
    background-color:rgba(20, 231, 20, 0.89) ;
    width: 250px;
    height: 60px;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 250px;

}
.go{
    text-decoration: none;
    color: gray;
    font-weight: 200;
}
.srach{
    width: 100px;
    height: 50px;
    background: black;
    border: 2px solid black;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 150px;
}
.child{
    border-radius: 75px;

}
.playing{
    margin-top: 19px;
    margin-left: 10px;
   
}
